{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <h1 class="mb-3">Ajouter un élève</h1>
        {{ form(studentForm) }}
        <button type="submit" class="btn btn-primary">Enregister</button>
    </div>
{% endblock %}
